/* Customize the label (the container) */
.checkbox-container {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-self: left;
    position: relative;
    padding-left: 1.7em;
    margin-bottom: 1em;
    margin-top: 0.5em;
    padding-top: 0.5%;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: #121212;
    border: 2px solid #00a451;
    border-radius: 15%;
    display: flex;
    justify-content: center;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .checkmark {
    background-color: #212121;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #121212;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: flex;
    justify-content: center;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    justify-self: center;
    align-self: center;
    vertical-align: center;
    width: 5px;
    height: 10px;
    border: solid #09B835;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-bottom: 25%;
    margin-left: 0.5%;
  }