@import url("header.css");

.base-container {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    height: 100vh;
    background: linear-gradient(180deg, #008648 0%, #004C37 100%, #00693F 100%);
}

main {
    height: 100vh;
    width: 82vw;
    display: flex;
    flex-direction: column;
}

section {
    width: 78vw;
    padding: 0 2vw;
    justify-content: center;
    overflow-y: auto;
}

.create-offer form {
    width: 100%;
    align-items: center;
}

.create-offer img {
    width: 20vw;
    height: 20vw;
    border: 3px solid #00A451;
    border-radius: 2vw;
    background: #121212;
    object-fit: contain;
    margin: 2vw;
}

.create-offer .images {
    display: flex;
    flex-direction: row;
    overflow: auto;
    width: 100%;
}

.create-offer .basic-info {
    width: max(60%, 20vw);
    margin: 2vh 0;
}

.create-offer .delivery {
    width: max(60%, 20vw);
    margin: 2vh 0;
}

.create-offer .address {
    width: max(60%, 20vw);
    margin: 2vh 0;
}

.create-offer .contact-details {
    width: max(60%, 20vw);
    margin: 2vh 0;
}

.create-offer .buttons {
    width: max(60%, 20vw);
    margin: 0 0 2vh 0;
}

.create-offer .basic-info .sub {
    display: flex;
    flex-direction: row;
    width: calc(98% + 6px);
    justify-content: space-between;
}

.create-offer .basic-info .sub .price {
    display: flex;
    flex-direction: column;
    width: calc(42% + 2em);
}

.create-offer .basic-info .sub input[name="quantity"] {
    width: 42%;
}

.create-offer .delivery .method {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.create-offer .delivery .method .checkbox-container {
    width: 10em;
}

.create-offer .delivery .method [type="number"] {
    width: 5em;
}

.create-offer select {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    border: 3px solid rgba(0, 0, 0, 0);
    color: #FFFFFF;
    font-family: inherit;

    width: calc(98% + 6px);
    height: calc(2.5em + 6px);
    margin: 1em 0;
    padding: 0 1em;

    transition: 0.3s ease-in-out;
    outline: none;
}

.create-offer select:focus {
    border: 3px solid #09B835;
}

.create-offer .locality {
    display: flex;
    flex-direction: row;
    width: calc(98% + 6px);
    justify-content: space-between;
}

.create-offer .locality [name="locality"] {
    width: calc(98% - 10em - 12px);
}

.create-offer .locality [name="postcode"] {
    width: 6em;
}

.create-offer .nums {
    display: flex;
    flex-direction: row;
    width: 22em;
    justify-content: space-between;
}

.create-offer .nums [name="housenum"], .create-offer .nums [name="flatnum"] {
    width: 10em;
}

.create-offer input[type="file"] {
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

.create-offer .upload-image {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.create-offer .upload-image label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    cursor: pointer;
    /*object-fit: cover;/**/

    width: 20vw;
    height: 20vw;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 2vw;
    background: rgba(255, 255, 255, 0.4);
    object-fit: contain;
    margin: 2vw;
    transition: 0.3s ease-in-out;
}

.create-offer .upload-image label:hover {
    border: 3px solid rgba(255, 255, 255, 0.8);
}

.create-offer .upload-image label:focus {
    border: 3px solid #09B835;
}

/*
.create-offer .upload-image input {
    height: 100%;
    width: 100%;
    opacity: 0;
    margin: 0;
    padding: 0;
}

.create-offer .upload-image {
    width: 20vw;
    height: 20vw;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 2vw;
    background: rgba(255, 255, 255, 0.4);
    object-fit: contain;
    margin: 2vw;
    transition: 0.3s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
}

.create-offer .upload-image:hover {
    border: 3px solid rgba(255, 255, 255, 0.8)
}

.create-offer .upload-image i {
    width: 0;
    height: 0;
    font-size: 2.5em;
    position: relative;

}/**/