@import url("variables.css");

section {
    display: grid;
    height: calc(100% - var(--header-height));/**/
    width: 82vw;
    
    grid-template-columns: repeat(2, var(--offer-tile-width));
    grid-gap: 2vw;
    overflow: auto;
    padding: 2vw 0;
    justify-content: center;
}

.offer-tile {
    
    /*height: calv(var(--size-unit) * 11);
    width: calc(var(--size-unit) * 22);/**/

    height: var(--offer-tile-height);
    width: var(--offer-tile-width);
    border-radius: var(--size-unit);

    /*margin: 2em;/**/

    /*width: 55em;
    height: 27.5em;
    border-radius: calc(55em / 22);
    margin: 5em;/**/
    color: #FFFFFF;
    background: #121212;

    display: flex;
    flex-direction: row;
}

.offer-tile > img {
    height: calc(var(--size-unit) * 9);
    width: calc(var(--size-unit) * 9);
    border-radius: calc(var(--size-unit) * 3 / 4);
    margin: var(--size-unit);

    /*width: 22.5em;
    height: 22.5em;
    border-radius: calc(55em * 3 / 88);
    margin: auto 2.5em;/**/
    
    border: 3px solid #00a451;
}

.offer-tile > .offer-info {
    height: calc(var(--size-unit) * 9);
    width: 50%;

    opacity: 87%;

    margin: var(--size-unit) var(--size-unit) var(--size-unit) 0;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offer-tile > .offer-info > .offer-main {
    display: flex;
    flex-direction: column;
}

.offer-tile > .offer-info > .offer-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.offer-footer p {
    margin-bottom: 0;
    margin-top: 0.5em;
}

.offer-footer h3 {
    margin-bottom: 1em;
    margin-top: 0.25em;
}

.offer-tile i {
    color: #121212;
    font-size: calc(var(--size-unit) * 1.5);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFFFFF;
}

.offer-tile i:hover {
    color: #212121;
}

.offer-info i:active {
    color: #FFFFFF;
}

.offer-tile p {
    margin: 0;
}

.offer-tile img {
    object-fit: cover;
}

.offer-tile h2 {
    font-size: var(--size-unit);
    margin-bottom: 0.25em;
    margin-top: 0.25em;
}

.offer-tile p {
    font-size: calc(var(--size-unit) * 0.66);
    overflow-y: auto;
}

.offer-tile h3 {
    font-size: calc(var(--size-unit) * 0.8);
}

.offer-top
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.offer-tile >  i:hover .fa-circle-minus {
    color: #212121;
}

.offer-info > i:active .fa-circle-minus {
    color: crimson;
}

.offer-tile > i .fa-circle-minus {
    color: #121212;
    font-size: calc(var(--size-unit) * 1.5);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: crimson;
}