input, textarea {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    border: 3px solid rgba(0,0,0,0);
    color: #FFFFFF;
    font-family: inherit;

    width: calc(98% - 2em);
    height: 2.5em;
    margin: 1em 0;
    padding: 0 1em;

    transition: 0.3s ease-in-out;
    outline: none;
}

textarea {
    height: unset;
    padding: 1em 1em;
    resize: none;
}

input::placeholder, textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

input:hover, textarea:hover {
    border: 3px solid rgba(255, 255, 255, 0.7);
}

input:focus, textarea:focus {
    border: 3px solid #09B835;
}

input[type="number"] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}