body {
    /* body z header.css*/
    --factor: calc(0.8 * 18vw);
    --header-height: calc(var(--factor) * 197 / 880 + 3.5em);

    /* section z offers.css */
    --size-unit: calc(76vw / 44);
    --offer-tile-height: calc(var(--size-unit) * 11);
    --offer-tile-width: calc(var(--size-unit) * 22);
}